/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use "../../styles" as styles;
@use "../../../../node_modules/@cloudscape-design/design-tokens/index.scss" as cs;
@use "@cloudscape-design/component-toolkit/internal/focus-visible" as focus-visible;
@use "./motion";

.root {
  @include styles.styles-reset;
  @include styles.default-text-style;

  &:focus {
    outline: none;
  }
}

.root-side {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  max-block-size: inherit;
  margin-inline-start: cs.$space-scaled-s;
}

.legend-dual-group {
  inline-size: calc(50% - 20px);
}

.legend-bottom-dual-axis-container {
  display: flex;
  inline-size: 100%;
  justify-content: space-between;
}

.list {
  display: flex;
  list-style: none;
  margin-block: 0;
  margin-inline: 0;
  padding-block: cs.$space-static-xxxs;
  padding-inline: cs.$space-static-xxxs;
  padding-block-start: cs.$space-scaled-xs;
}

.list-bottom {
  flex-wrap: wrap;
  gap: cs.$space-scaled-xxs cs.$space-static-m;
}

.list-bottom-opposite {
  justify-content: flex-end;
}

.list-side {
  flex: 1;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: cs.$space-scaled-xxs cs.$space-static-m;
}

.item {
  @include styles.styles-reset;
  @include styles.default-text-style;

  display: inline-flex;
  padding-block: 0;
  padding-inline: 0;
  border-block: 0;
  border-inline: 0;
  background-color: transparent;
  cursor: pointer;
  opacity: 1;

  &:focus {
    outline: none;
  }

  @include focus-visible.when-visible {
    @include styles.focus-highlight(2px);
  }

  &.item--inactive {
    color: cs.$color-text-interactive-default;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: cs.$color-text-interactive-default;
  }

  &.item--dimmed {
    opacity: 0.35;
  }
}

.actions {
  display: flex;
  align-items: center;
}

.actions-bottom {
  flex-direction: row;
}

.actions-side {
  flex-direction: column;
  align-items: flex-start;
}

.legend-divider-bottom {
  inline-size: 1px;
  block-size: 80%;
  margin-inline: cs.$space-scaled-xs;
  background: cs.$color-border-divider-default;
}

.legend-divider-side {
  display: block;
  border: 0;
  padding: 0;
  height: 1px;
  inline-size: 80%;
  margin-block-end: cs.$space-scaled-xs;
  border-top: 1px solid cs.$color-border-divider-default;
}
